* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr minmax(150px, auto);
  grid-auto-rows: 200px 400px;
  grid-gap: 30px 60px;
}

.item {
  border: 1px solid black;
  background: sandybrown;
}

#item-2 {
  grid-column: -1 / 2;
}
